---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Habilidades">
  <section class="container mx-auto py-8">
    <!-- <h2 class="text-3xl font-bold text-center mb-8">Habilidades</h2> -->
    <h1 class="text-3xl md:text-5xl font-extrabold text-center mb-8 text-gray-800">
      Habilidades
    </h1>

    <!-- Contenedor de 2 columnas -->
    <div class="grid grid-cols-2 gap-8">
      <!-- Columna 1: Front-end y Back-end -->
      <div>
        <!-- Secci贸n Front-end -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Front-end</h3>
          <div class="flex flex-wrap gap-5">
            <!-- HTML -->
            <div 
              class="stack"
              style="--bg-color: #EF652A; --glow-color: rgba(239, 101, 42, 0.5)"
              data-tooltip="HTML"
            >
              <p class="stack__name">HTML</p>
              <svg class="stack__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="html">
                <path fill="#E44D26" d="M3.345 21.601 1.419 0h21.162l-1.928 21.597L11.987 24l-8.642-2.399z"></path>
                <path fill="#F16529" d="m12 22.164 7.003-1.941L20.65 1.766H12v20.398z"></path>
                <path fill="#EBEBEB" d="M12 9.778H8.494l-.242-2.713H12V4.416H5.357l.063.71.651 7.301H12V9.778zm0 6.88-.012.003-2.95-.797-.189-2.113H6.19l.371 4.16 5.427 1.506.012-.003v-2.756z"></path>
                <path fill="#FFF" d="M11.991 9.778v2.649h3.262l-.308 3.436-2.955.797v2.756l5.431-1.505.04-.448.623-6.975.065-.711h-.714l-5.444.001zm0-5.362v2.649h6.399l.053-.596.121-1.343.063-.711-6.636.001z"></path>
              </svg>
            </div>

            <div 
          class="stack"
          style="--bg-color: #b0b300; --glow-color: rgba(0, 116, 189, 0.5)"
          data-tooltip="Java"
        >
          <p class="stack__name">JavaScript</p>
          <svg class="stack__icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" id="javascript">
            <polygon fill="#F0D91F" points="0 24 24 24 24 0 0 0 0 24"></polygon>
            <polygon fill="#D1BD1B" points="12 0 0 0 0 24 12 24 12 0"></polygon>
            <path d="M19.784 18.629c-.255-.961-2.251-1.185-3.616-2.205-1.38-.93-1.709-3.18-.569-4.471.39-.48 1.034-.84 1.71-1.005l.705-.089c1.365-.031 2.204.329 2.834 1.034.182.179.316.36.586.78-.721.449-.721.449-1.755 1.125-.226-.48-.586-.78-.976-.9-.6-.18-1.365.014-1.515.66-.059.195-.045.375.046.705.243.555 1.061.795 1.797 1.14 2.115.859 2.827 1.778 3.003 2.873l-.046-.067c.166.945-.045 1.56-.074 1.65-.781 2.67-5.131 2.76-6.871 1.005-.36-.42-.6-.63-.81-1.109l1.83-1.051c.495.75.944 1.156 1.755 1.336C18.914 20.174 20.024 19.799 19.784 18.629L19.784 18.629zM8.133 18.976c.017 0 .064.091.127.196.233.389.434.659.83.855.386.121 1.236.209 1.566-.48.2-.347.137-1.479.137-2.711 0-1.941.009-3.867.009-5.805h2.248l-.005.056c0 2.07.012 4.125 0 6.179.006 1.276.113 2.416-.397 3.346-.353.719-1.028 1.184-1.811 1.411-1.203.27-2.352.105-3.207-.405-.574-.345-1.019-.887-1.324-1.517L8.133 18.976 8.133 18.976z"></path>
            <path fill="#212121" d="M18.174 10.857c-.052 0-.106.001-.16.002l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471.012.009.025.018.037.028h4.724c-.451-.364-1.066-.711-1.898-1.049-.737-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.115-.494.589-.724 1.075-.724.149 0 .299.022.44.064.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.6-.586-.78C20.243 11.216 19.445 10.857 18.174 10.857L18.174 10.857zM13.051 11.031h-2.248c0 1.81-.008 3.61-.009 5.421h2.256c.006-1.783-.004-3.568-.004-5.365L13.051 11.031 13.051 11.031z"></path>
          </svg>
        </div>


        <div 
          class="stack"
          style="--bg-color: #830bb3; --glow-color: rgba(0, 116, 189, 0.5)"
          data-tooltip="Astro"
        >
          <p class="stack__name">Astro</p>
          <svg class="stack__icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>file_type_astro</title><path d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z" style="fill:#000000;fill-rule:evenodd"></path></g></svg>
        </div>

        <div 
        class="stack"
        style="--bg-color: #40c3ff; --glow-color: rgba(0, 116, 189, 0.5)"
        data-tooltip="React"
      >
        <p class="stack__name">React</p>
        <svg class="stack__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="react">
          <circle cx="12" cy="11.999" r="2.147" fill="#53C1DE"></circle>
          <path fill="#53C1DE" d="M4.514 15.801c.211.07.422.141.638.202-.07.281-.131.558-.188.844-.492 2.602-.108 4.664 1.12 5.372 1.266.731 3.394-.019 5.466-1.833.164-.145.328-.295.492-.455.206.202.422.394.637.581 2.006 1.725 3.989 2.423 5.213 1.716 1.266-.731 1.678-2.948 1.144-5.648a18.477 18.477 0 0 0-.141-.633c.15-.042.295-.089.441-.136 2.705-.895 4.664-2.344 4.664-3.83 0-1.42-1.847-2.798-4.397-3.675v-.001a24.589 24.589 0 0 0-.759-.239c.042-.173.08-.347.117-.52.577-2.794.197-5.038-1.083-5.779-1.233-.708-3.244.028-5.278 1.8-.202.173-.398.356-.586.539a14.702 14.702 0 0 0-.389-.361C9.492 1.851 7.355 1.054 6.075 1.8c-1.228.713-1.594 2.827-1.078 5.469.052.263.108.52.173.783-.3.084-.595.178-.872.277C1.795 9.196 0 10.565 0 11.981c0 1.463 1.912 2.929 4.514 3.82zm6.375 3.819a8.585 8.585 0 0 1-2.644 1.655c-.52.248-1.12.272-1.655.061-.745-.431-1.055-2.086-.633-4.313.052-.262.108-.525.173-.783 1.05.225 2.109.38 3.183.459a24.606 24.606 0 0 0 2.025 2.503c-.15.145-.3.286-.45.417l.001.001zm5.953-8.802a36.56 36.56 0 0 0-.68-1.228c-.23-.398-.469-.792-.717-1.181.755.094 1.477.22 2.152.375a20.737 20.737 0 0 1-.755 2.034zm.009 2.334c.3.68.563 1.369.792 2.077-.727.164-1.462.291-2.203.375a32.717 32.717 0 0 0 1.411-2.452zm-.542-1.166a31.495 31.495 0 0 1-2.146 3.74c-.698.052-1.425.075-2.161.075s-1.448-.023-2.137-.066a28.48 28.48 0 0 1-2.161-3.731h-.002a28.24 28.24 0 0 1 2.147-3.726 29.151 29.151 0 0 1 4.304 0c.398.591.778 1.195 1.139 1.814a32.18 32.18 0 0 1 1.017 1.894zM7.832 9.599c-.23.398-.455.805-.666 1.218a22.302 22.302 0 0 1-.75-2.043c.675-.15 1.392-.272 2.137-.366-.247.389-.491.787-.721 1.191zm-.665 3.59c.216.413.436.821.67 1.224.239.408.483.816.741 1.214a21.23 21.23 0 0 1-2.175-.352c.206-.675.464-1.373.764-2.086zm4.871 5.291a21.873 21.873 0 0 1-1.42-1.701 32.91 32.91 0 0 0 2.808-.005 19.942 19.942 0 0 1-1.388 1.706zm6.127 1.408a2.086 2.086 0 0 1-.774 1.466c-.745.431-2.334-.131-4.05-1.603a20.163 20.163 0 0 1-.595-.539 23.21 23.21 0 0 0 1.978-2.512 23.126 23.126 0 0 0 3.197-.492c.047.192.089.384.127.572a8.54 8.54 0 0 1 .117 3.108zm.407-10.856c.244.07.478.145.703.22 2.184.75 3.717 1.866 3.717 2.719 0 .919-1.636 2.105-3.975 2.878-.131.042-.262.084-.398.122a23.84 23.84 0 0 0-1.195-2.991c.45-.956.83-1.941 1.148-2.948zM13.26 4.326c1.745-1.518 3.371-2.113 4.112-1.687.792.455 1.097 2.292.6 4.706a7.988 7.988 0 0 1-.108.469 24.1 24.1 0 0 0-3.155-.497 23.536 23.536 0 0 0-1.997-2.49c.183-.173.361-.337.548-.501zm-1.25 1.219c.492.534.956 1.096 1.387 1.677a30.883 30.883 0 0 0-2.789 0c.459-.604.933-1.166 1.402-1.677zM6.572 2.672c.788-.459 2.536.197 4.378 1.828.117.103.234.216.356.328a23.643 23.643 0 0 0-2.011 2.488 24.72 24.72 0 0 0-3.15.488c-.061-.239-.112-.483-.164-.727-.441-2.269-.15-3.979.591-4.405zM4.627 9.28c.267-.094.539-.178.811-.258a24.986 24.986 0 0 0 1.148 2.981c-.45.98-.839 1.992-1.162 3.023l-.001.001a11.205 11.205 0 0 1-.581-.183c-.998-.314-2.133-.811-2.953-1.462a2.103 2.103 0 0 1-.881-1.402c0-.858 1.481-1.955 3.619-2.7z"></path>
        </svg>     
      </div>

      <div 
        class="stack"
        style="--bg-color: #ff4040; --glow-color: rgba(0, 116, 189, 0.5)"
        data-tooltip="React"
      >
        <p class="stack__name">React</p>
        <svg class="stack__icon" xmlns="http://www.w3.org/2000/svg" width="2353" height="2500" preserveAspectRatio="xMidYMid" viewBox="0 0 256 272" id="angular">
          <path fill="#E23237" d="M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z"></path>
          <path fill="#B52E31" d="M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z"></path>
          <path fill="#FFF" d="M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z"></path>
        </svg>   
      </div>

      

        

          </div>
        </div>

        <!-- Secci贸n Back-end -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Back-end</h3>
          <div class="flex flex-wrap gap-5">
            <!-- Ejemplo: Node.js -->
            <div 
              class="stack"
              style="--bg-color: #68A063; --glow-color: rgba(104, 160, 99, 0.5)"
              data-tooltip="Node.js"
            >
              <p class="stack__name">Node.js</p>
              <svg class="stack__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 272">
                <!-- Ejemplo de SVG para Node.js -->
                <path fill="#83CD29" d="M128 0L0 64v144l128 64 128-64V64L128 0z"></path>
              </svg>
            </div>

            <div 
              class="stack"
              style="--bg-color: #0e8d03; --glow-color: rgba(104, 160, 99, 0.5)"
              data-tooltip="Spring Boot"
            >
              <p class="stack__name"></p>
              <svg class="stack__icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
                <path fill="#8bc34a" d="M43.982,23.635c0.069-4.261-0.891-9.328-2.891-15.273l-1.568-4.662l-2.13,4.433 c-0.114,0.237-0.244,0.469-0.38,0.698C33.514,5.827,28.974,4,24,4C12.954,4,4,12.954,4,24c0,11.046,8.954,20,20,20s20-8.954,20-20 C44,23.877,43.984,23.758,43.982,23.635z"></path><path fill="#fff" d="M39.385 32.558c-3.123 4.302-8.651 4.533-13.854 4.442H18.75h-1.938c4.428-1.593 7.063-1.972 9.754-3.4 5.068-2.665 10.078-8.496 11.121-14.562-1.93 5.836-7.779 10.85-13.109 12.889-3.652 1.393-10.248 2.745-10.248 2.745l-.267-.145C9.573 32.268 9.437 22.214 17.6 18.968c3.574-1.423 6.993-.641 10.854-1.593 4.122-1.012 8.89-4.208 10.83-8.375C41.456 15.667 44.07 26.106 39.385 32.558L39.385 32.558zM15.668 38.445C15.386 38.795 14.955 39 14.505 39c-.823 0-1.495-.677-1.495-1.5s.677-1.5 1.495-1.5c.341 0 .677.118.941.336C16.086 36.855 16.186 37.805 15.668 38.445L15.668 38.445z"></path>
                </svg>
            </div>

            


          </div>
        </div>
      </div>

      <!-- Columna 2: DevOps y Design -->
      <div>
        <!-- Secci贸n DevOps -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Testing</h3>
          <div class="flex flex-wrap gap-5">
            <!-- Ejemplo: Docker -->
            <div 
              class="stack"
              style="--bg-color: #2496ED; --glow-color: rgba(36, 150, 237, 0.5)"
              data-tooltip="Docker"
            >
              <p class="stack__name">Docker</p>
              <svg class="stack__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                <!-- Ejemplo de SVG para Docker -->
                <path fill="#2496ED" d="M128 0C57.31 0 0 57.31 0 128s57.31 128 128 128 128-57.31 128-128S198.69 0 128 0z"></path>
              </svg>
            </div>
          </div>
        </div>

        <!-- Secci贸n Design -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Herramientas</h3>
          <div class="flex flex-wrap gap-5">
            <!-- Ejemplo: Notion -->
            <div 
              class="stack"
              style="--bg-color: #6e6e6e; --glow-color: rgba(242, 78, 30, 0.5)"
              data-tooltip="Notion"
            >
              <p class="stack__name">Notion</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" id="notion">
                <path fill="#fff" d="M24 48c13.255 0 24-10.745 24-24S37.255 0 24 0 0 10.745 0 24s10.745 24 24 24Z"></path>
                <path fill="#000" fill-rule="evenodd" d="m28.46 9.068-16.65 1.226c-1.342.116-1.81.991-1.81 2.04v18.198c0 .817.292 1.516.993 2.45l3.914 5.074c.643.817 1.227.992 2.455.934l19.335-1.167c1.635-.116 2.103-.875 2.103-2.158V15.193c0-.664-.263-.855-1.037-1.42a46.72 46.72 0 0 1-.132-.097l-5.315-3.733c-1.285-.932-1.811-1.05-3.856-.875ZM17.8 14.857c-1.579.106-1.937.13-2.834-.597l-2.28-1.808c-.232-.234-.115-.526.468-.584l16.007-1.166c1.343-.117 2.044.35 2.57.758l2.746 1.983c.117.059.408.408.058.408l-16.531.992-.204.014ZM15.959 35.49V18.11c0-.759.233-1.109.934-1.168l18.985-1.108c.644-.058.936.35.936 1.108v17.264c0 .759-.117 1.401-1.17 1.459l-18.167 1.05c-1.051.058-1.518-.291-1.518-1.225Zm17.935-16.448c.116.525 0 1.05-.527 1.11l-.876.173v12.832c-.76.408-1.46.641-2.044.641-.935 0-1.17-.292-1.87-1.166l-5.726-8.982v8.69l1.812.409s0 1.05-1.462 1.05l-4.03.233c-.116-.234 0-.816.41-.933l1.05-.291v-11.49l-1.46-.118c-.116-.525.175-1.283.994-1.341l4.323-.292 5.959 9.1v-8.05l-1.52-.174c-.116-.643.35-1.109.935-1.167l4.032-.234Z" clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style is:global>
    .stack {
      position: relative;
      width: 4.5em;
      height: 4.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6em;
      background: color-mix(in srgb, var(--bg-color) 8%, transparent);
      cursor: pointer;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;
      z-index: 1;
      border: 1px solid transparent;
    }
  
    .stack::before {
      content: "";
      position: absolute;
      inset: -2px;
      background:
        radial-gradient(
          120% 120% at 50% 20%,
          color-mix(in srgb, var(--bg-color) 30%, transparent) 200%
        ),
        linear-gradient(
          to bottom right,
          transparent 30%,
          color-mix(in srgb, var(--bg-color) 10%, transparent) 70%
        );
      filter: blur(8px);
      opacity: 0;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .stack::after {
      content: "";
      position: absolute;
      inset: -1px;
      border-radius: inherit;
      box-shadow:
        0 0 20px -5px var(--glow-color),
        inset 0 0 15px color-mix(in srgb, var(--bg-color) 10%, transparent);
      opacity: 0;
      transition: opacity 0.4s ease;
    }
  
    .stack:hover {
      border: 1px solid color-mix(in srgb, var(--bg-color) 50%, transparent);
      transform: none;
    }
  
    .stack:hover::before {
      opacity: 0.6;
      filter: blur(12px);
    }
  
    .stack:hover::after {
      opacity: 1;
      box-shadow:
        0 0 35px -5px var(--glow-color),
        inset 0 0 25px color-mix(in srgb, var(--bg-color) 15%, transparent);
    }
  
    .stack__icon {
      width: 55%;
      height: 55%;
      filter: brightness(1);
      transition: all 0.4s ease;
    }
  
    .stack:hover .stack__icon {
      filter: 
        drop-shadow(0 0 8px color-mix(in srgb, var(--bg-color) 40%, transparent))
        brightness(1.15);
      transform: none;
    }
  
    .stack__name {
      position: absolute;
      bottom: -1.8em;
      width: 100%;
      text-align: center;
      font-size: 0.85em;
      font-weight: 700;
      color: var(--bg-color);
      text-shadow: 0 0 8px var(--glow-color);
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }
  
    .stack:hover .stack__name {
      opacity: 1;
    }
  </style>
</Layout>
