---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Habilidades">
  <section class="container mx-auto py-8">
    <!-- <h2 class="text-3xl font-bold text-center mb-8">Habilidades</h2> -->
    <h2
      class="text-3xl md:text-5xl font-extrabold text-center mb-8 text-gray-800"
    >
      Habilidades
    </h2>

    <!-- Contenedor de 2 columnas -->
    <div class="grid grid-cols-2 gap-8">
      <!-- Columna 1: Front-end y Back-end -->
      <div>
        <!-- Secci贸n Front-end -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Front-end</h3>
          <div class="flex flex-wrap gap-5">
            <!-- HTML -->
            <div
              class="stack"
              style="--bg-color: #EF652A; --glow-color: #EF652A"
              data-tooltip="HTML"
            >
              <p class="stack__name">HTML</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                id="html"
              >
                <path
                  fill="#E44D26"
                  d="M3.345 21.601 1.419 0h21.162l-1.928 21.597L11.987 24l-8.642-2.399z"
                ></path>
                <path
                  fill="#F16529"
                  d="m12 22.164 7.003-1.941L20.65 1.766H12v20.398z"></path>
                <path
                  fill="#EBEBEB"
                  d="M12 9.778H8.494l-.242-2.713H12V4.416H5.357l.063.71.651 7.301H12V9.778zm0 6.88-.012.003-2.95-.797-.189-2.113H6.19l.371 4.16 5.427 1.506.012-.003v-2.756z"
                ></path>
                <path
                  fill="#FFF"
                  d="M11.991 9.778v2.649h3.262l-.308 3.436-2.955.797v2.756l5.431-1.505.04-.448.623-6.975.065-.711h-.714l-5.444.001zm0-5.362v2.649h6.399l.053-.596.121-1.343.063-.711-6.636.001z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #b0b300; --glow-color: #b0b300"
              data-tooltip="Java"
            >
              <p class="stack__name">JavaScript</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                viewBox="0 0 24 24"
                id="javascript"
              >
                <polygon fill="#F0D91F" points="0 24 24 24 24 0 0 0 0 24"
                ></polygon>
                <polygon fill="#D1BD1B" points="12 0 0 0 0 24 12 24 12 0"
                ></polygon>
                <path
                  d="M19.784 18.629c-.255-.961-2.251-1.185-3.616-2.205-1.38-.93-1.709-3.18-.569-4.471.39-.48 1.034-.84 1.71-1.005l.705-.089c1.365-.031 2.204.329 2.834 1.034.182.179.316.36.586.78-.721.449-.721.449-1.755 1.125-.226-.48-.586-.78-.976-.9-.6-.18-1.365.014-1.515.66-.059.195-.045.375.046.705.243.555 1.061.795 1.797 1.14 2.115.859 2.827 1.778 3.003 2.873l-.046-.067c.166.945-.045 1.56-.074 1.65-.781 2.67-5.131 2.76-6.871 1.005-.36-.42-.6-.63-.81-1.109l1.83-1.051c.495.75.944 1.156 1.755 1.336C18.914 20.174 20.024 19.799 19.784 18.629L19.784 18.629zM8.133 18.976c.017 0 .064.091.127.196.233.389.434.659.83.855.386.121 1.236.209 1.566-.48.2-.347.137-1.479.137-2.711 0-1.941.009-3.867.009-5.805h2.248l-.005.056c0 2.07.012 4.125 0 6.179.006 1.276.113 2.416-.397 3.346-.353.719-1.028 1.184-1.811 1.411-1.203.27-2.352.105-3.207-.405-.574-.345-1.019-.887-1.324-1.517L8.133 18.976 8.133 18.976z"
                ></path>
                <path
                  fill="#212121"
                  d="M18.174 10.857c-.052 0-.106.001-.16.002l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471.012.009.025.018.037.028h4.724c-.451-.364-1.066-.711-1.898-1.049-.737-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.115-.494.589-.724 1.075-.724.149 0 .299.022.44.064.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.6-.586-.78C20.243 11.216 19.445 10.857 18.174 10.857L18.174 10.857zM13.051 11.031h-2.248c0 1.81-.008 3.61-.009 5.421h2.256c.006-1.783-.004-3.568-.004-5.365L13.051 11.031 13.051 11.031z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #40c3ff; --glow-color: #40c3ff"
              data-tooltip="React"
            >
              <p class="stack__name">React</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                id="react"
              >
                <circle cx="12" cy="11.999" r="2.147" fill="#53C1DE"></circle>
                <path
                  fill="#53C1DE"
                  d="M4.514 15.801c.211.07.422.141.638.202-.07.281-.131.558-.188.844-.492 2.602-.108 4.664 1.12 5.372 1.266.731 3.394-.019 5.466-1.833.164-.145.328-.295.492-.455.206.202.422.394.637.581 2.006 1.725 3.989 2.423 5.213 1.716 1.266-.731 1.678-2.948 1.144-5.648a18.477 18.477 0 0 0-.141-.633c.15-.042.295-.089.441-.136 2.705-.895 4.664-2.344 4.664-3.83 0-1.42-1.847-2.798-4.397-3.675v-.001a24.589 24.589 0 0 0-.759-.239c.042-.173.08-.347.117-.52.577-2.794.197-5.038-1.083-5.779-1.233-.708-3.244.028-5.278 1.8-.202.173-.398.356-.586.539a14.702 14.702 0 0 0-.389-.361C9.492 1.851 7.355 1.054 6.075 1.8c-1.228.713-1.594 2.827-1.078 5.469.052.263.108.52.173.783-.3.084-.595.178-.872.277C1.795 9.196 0 10.565 0 11.981c0 1.463 1.912 2.929 4.514 3.82zm6.375 3.819a8.585 8.585 0 0 1-2.644 1.655c-.52.248-1.12.272-1.655.061-.745-.431-1.055-2.086-.633-4.313.052-.262.108-.525.173-.783 1.05.225 2.109.38 3.183.459a24.606 24.606 0 0 0 2.025 2.503c-.15.145-.3.286-.45.417l.001.001zm5.953-8.802a36.56 36.56 0 0 0-.68-1.228c-.23-.398-.469-.792-.717-1.181.755.094 1.477.22 2.152.375a20.737 20.737 0 0 1-.755 2.034zm.009 2.334c.3.68.563 1.369.792 2.077-.727.164-1.462.291-2.203.375a32.717 32.717 0 0 0 1.411-2.452zm-.542-1.166a31.495 31.495 0 0 1-2.146 3.74c-.698.052-1.425.075-2.161.075s-1.448-.023-2.137-.066a28.48 28.48 0 0 1-2.161-3.731h-.002a28.24 28.24 0 0 1 2.147-3.726 29.151 29.151 0 0 1 4.304 0c.398.591.778 1.195 1.139 1.814a32.18 32.18 0 0 1 1.017 1.894zM7.832 9.599c-.23.398-.455.805-.666 1.218a22.302 22.302 0 0 1-.75-2.043c.675-.15 1.392-.272 2.137-.366-.247.389-.491.787-.721 1.191zm-.665 3.59c.216.413.436.821.67 1.224.239.408.483.816.741 1.214a21.23 21.23 0 0 1-2.175-.352c.206-.675.464-1.373.764-2.086zm4.871 5.291a21.873 21.873 0 0 1-1.42-1.701 32.91 32.91 0 0 0 2.808-.005 19.942 19.942 0 0 1-1.388 1.706zm6.127 1.408a2.086 2.086 0 0 1-.774 1.466c-.745.431-2.334-.131-4.05-1.603a20.163 20.163 0 0 1-.595-.539 23.21 23.21 0 0 0 1.978-2.512 23.126 23.126 0 0 0 3.197-.492c.047.192.089.384.127.572a8.54 8.54 0 0 1 .117 3.108zm.407-10.856c.244.07.478.145.703.22 2.184.75 3.717 1.866 3.717 2.719 0 .919-1.636 2.105-3.975 2.878-.131.042-.262.084-.398.122a23.84 23.84 0 0 0-1.195-2.991c.45-.956.83-1.941 1.148-2.948zM13.26 4.326c1.745-1.518 3.371-2.113 4.112-1.687.792.455 1.097 2.292.6 4.706a7.988 7.988 0 0 1-.108.469 24.1 24.1 0 0 0-3.155-.497 23.536 23.536 0 0 0-1.997-2.49c.183-.173.361-.337.548-.501zm-1.25 1.219c.492.534.956 1.096 1.387 1.677a30.883 30.883 0 0 0-2.789 0c.459-.604.933-1.166 1.402-1.677zM6.572 2.672c.788-.459 2.536.197 4.378 1.828.117.103.234.216.356.328a23.643 23.643 0 0 0-2.011 2.488 24.72 24.72 0 0 0-3.15.488c-.061-.239-.112-.483-.164-.727-.441-2.269-.15-3.979.591-4.405zM4.627 9.28c.267-.094.539-.178.811-.258a24.986 24.986 0 0 0 1.148 2.981c-.45.98-.839 1.992-1.162 3.023l-.001.001a11.205 11.205 0 0 1-.581-.183c-.998-.314-2.133-.811-2.953-1.462a2.103 2.103 0 0 1-.881-1.402c0-.858 1.481-1.955 3.619-2.7z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #ff4040; --glow-color: #ff4040"
              data-tooltip="Angular"
            >
              <p class="stack__name">Angular</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                width="2353"
                height="2500"
                preserveAspectRatio="xMidYMid"
                viewBox="0 0 256 272"
                id="angular"
              >
                <path
                  fill="#E23237"
                  d="M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z"
                ></path>
                <path
                  fill="#B52E31"
                  d="M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z"
                ></path>
                <path
                  fill="#FFF"
                  d="M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z"
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <!-- Secci贸n Back-end -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Back-end</h3>
          <div class="flex flex-wrap gap-5">
            <!-- Ejemplo: Java -->
            <div
              class="stack"
              style="--bg-color: #EF652A; --glow-color: #EF652A"
              data-tooltip="Java"
            >
              <p class="stack__name">Java</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 128 128"
                id="java"
              >
                <path
                  fill="#0074BD"
                  d="M47.617 98.12s-4.767 2.774 3.397 3.71c9.892 1.13 14.947.968 25.845-1.092 0 0 2.871 1.795 6.873 3.351-24.439 10.47-55.308-.607-36.115-5.969zM44.629 84.455s-5.348 3.959 2.823 4.805c10.567 1.091 18.91 1.18 33.354-1.6 0 0 1.993 2.025 5.132 3.131-29.542 8.64-62.446.68-41.309-6.336z"
                ></path>
                <path
                  fill="#EA2D2E"
                  d="M69.802 61.271c6.025 6.935-1.58 13.17-1.58 13.17s15.289-7.891 8.269-17.777c-6.559-9.215-11.587-13.792 15.635-29.58 0 .001-42.731 10.67-22.324 34.187z"
                ></path>
                <path
                  fill="#0074BD"
                  d="M102.123 108.229s3.529 2.91-3.888 5.159c-14.102 4.272-58.706 5.56-71.094.171-4.451-1.938 3.899-4.625 6.526-5.192 2.739-.593 4.303-.485 4.303-.485-4.953-3.487-32.013 6.85-13.743 9.815 49.821 8.076 90.817-3.637 77.896-9.468zM49.912 70.294s-22.686 5.389-8.033 7.348c6.188.828 18.518.638 30.011-.326 9.39-.789 18.813-2.474 18.813-2.474s-3.308 1.419-5.704 3.053c-23.042 6.061-67.544 3.238-54.731-2.958 10.832-5.239 19.644-4.643 19.644-4.643zM90.609 93.041c23.421-12.167 12.591-23.86 5.032-22.285-1.848.385-2.677.72-2.677.72s.688-1.079 2-1.543c14.953-5.255 26.451 15.503-4.823 23.725 0-.002.359-.327.468-.617z"
                ></path>
                <path
                  fill="#EA2D2E"
                  d="M76.491 1.587s12.968 12.976-12.303 32.923c-20.266 16.006-4.621 25.13-.007 35.559-11.831-10.673-20.509-20.07-14.688-28.815 8.548-12.834 32.229-19.059 26.998-39.667z"
                ></path>
                <path
                  fill="#0074BD"
                  d="M52.214 126.021c22.476 1.437 57-.8 57.817-11.436 0 0-1.571 4.032-18.577 7.231-19.186 3.612-42.854 3.191-56.887.874 0 .001 2.875 2.381 17.647 3.331z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #0e8d03; --glow-color: #0e8d03"
              data-tooltip="Spring Boot"
            >
              <p class="stack__name"></p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="100"
                height="100"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#8bc34a"
                  d="M43.982,23.635c0.069-4.261-0.891-9.328-2.891-15.273l-1.568-4.662l-2.13,4.433 c-0.114,0.237-0.244,0.469-0.38,0.698C33.514,5.827,28.974,4,24,4C12.954,4,4,12.954,4,24c0,11.046,8.954,20,20,20s20-8.954,20-20 C44,23.877,43.984,23.758,43.982,23.635z"
                ></path><path
                  fill="#fff"
                  d="M39.385 32.558c-3.123 4.302-8.651 4.533-13.854 4.442H18.75h-1.938c4.428-1.593 7.063-1.972 9.754-3.4 5.068-2.665 10.078-8.496 11.121-14.562-1.93 5.836-7.779 10.85-13.109 12.889-3.652 1.393-10.248 2.745-10.248 2.745l-.267-.145C9.573 32.268 9.437 22.214 17.6 18.968c3.574-1.423 6.993-.641 10.854-1.593 4.122-1.012 8.89-4.208 10.83-8.375C41.456 15.667 44.07 26.106 39.385 32.558L39.385 32.558zM15.668 38.445C15.386 38.795 14.955 39 14.505 39c-.823 0-1.495-.677-1.495-1.5s.677-1.5 1.495-1.5c.341 0 .677.118.941.336C16.086 36.855 16.186 37.805 15.668 38.445L15.668 38.445z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #00a2ff; --glow-color: #00a2ff"
              data-tooltip="Python"
            >
              <p class="stack__name"></p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                viewBox="0 0 24 24"
                id="python"
              >
                <path
                  fill="#F2BB30"
                  d="M20.699,17.748c1.666,0,2.282-1.162,2.86-2.904c0.6-1.795,0.574-3.52,0-5.818c-0.413-1.655-1.194-2.904-2.86-2.904h-2.148v2.54c0,1.972-1.672,3.633-3.579,3.633H9.252c-1.564,0-2.86,1.339-2.86,2.908v5.454c0,1.553,1.35,2.464,2.86,2.908c1.811,0.53,3.552,0.626,5.721,0c1.441-0.418,2.861-1.26,2.861-2.908v-2.181h-5.717v-0.729H20.699L20.699,17.748z"
                ></path>
                <path
                  fill="#35668F"
                  d="M3.444,17.749H5.41v-2.614c0-1.892,1.634-3.557,3.579-3.557h5.721c1.591,0,2.86-1.312,2.86-2.909V3.209c0-1.554-1.307-2.717-2.86-2.979c-1.918-0.316-4.002-0.3-5.721,0.006l0.001-0.001C6.568,0.663,6.129,1.558,6.129,3.213v2.18h5.727v0.73H3.98c-1.667,0-3.124,1.002-3.578,2.905c-0.525,2.18-0.547,3.54,0,5.818C0.808,16.538,1.779,17.749,3.444,17.749L3.444,17.749z"
                ></path>
                <path
                  fill="#D3A32A"
                  d="M12,12.295H9.252c-1.564,0-2.86,1.339-2.86,2.908v5.454c0,1.553,1.35,2.464,2.86,2.908c0.912,0.267,1.807,0.424,2.748,0.434V12.295L12,12.295z"
                ></path>
                <path
                  fill="#2E597C"
                  d="M11.827,0c-0.994,0-1.964,0.081-2.839,0.236l0.001-0.001C6.568,0.663,6.129,1.558,6.129,3.213v2.18h5.727v0.73H3.98c-1.667,0-3.124,1.002-3.578,2.905c-0.26,1.081-0.397,1.961-0.402,2.85v0.101c0.005,0.872,0.136,1.761,0.402,2.867c0.406,1.692,1.377,2.903,3.042,2.903H5.41v-2.614c0-1.892,1.634-3.557,3.579-3.557H12V0.001C11.942,0,11.885,0,11.827,0L11.827,0z"
                ></path>
                <polygon
                  fill="#FFF"
                  points="18.231 7.357 18.232 7.357 18.232 7.353"></polygon>
                <path
                  fill="#FFF"
                  d="M15.332 19.929c.594 0 1.077.488 1.077 1.088 0 .606-.482 1.093-1.077 1.093-.59 0-1.077-.493-1.077-1.093C14.261 20.411 14.744 19.929 15.332 19.929zM8.63 3.936c-.594 0-1.076-.488-1.076-1.088C7.56 2.243 8.036 1.756 8.63 1.756c.59 0 1.077.493 1.077 1.093C9.707 3.448 9.225 3.936 8.63 3.936L8.63 3.936z"
                ></path>
                <path
                  fill="#DEDEDE"
                  d="M8.63 1.756c-.594 0-1.071.487-1.076 1.093 0 .6.482 1.088 1.076 1.088l0 0V1.756L8.63 1.756 8.63 1.756zM15.332 19.929c-.594 0-1.071.487-1.076 1.093 0 .6.482 1.088 1.076 1.088l0 0V19.929L15.332 19.929 15.332 19.929z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #0e8d03; --glow-color: #0e8d03"
              data-tooltip="Node JS"
            >
              <p class="stack__name"></p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 128 128"
                id="NodeJs"
              >
                <path
                  fill="#34a853"
                  d="M112.678 30.334l-44.143-25.605c-2.781-1.584-6.424-1.584-9.227 0l-44.488 25.605c-2.869 1.651-4.82 4.754-4.82 8.073v51.142c0 3.319 1.992 6.423 4.862 8.083l11.729 6.688c5.627 2.772 7.186 2.772 9.746 2.772 8.334 0 12.662-5.039 12.662-13.828v-50.49c.001-.713.446-1.774-.255-1.774h-5.622c-.712 0-2.122 1.061-2.122 1.773v50.49c0 3.896-3.616 7.773-10.202 4.48l-12.122-7.013c-.422-.23-.676-.693-.676-1.181v-51.142c0-.482.463-.966.891-1.213l44.378-25.561c.415-.235 1.002-.235 1.415 0l43.963 25.555c.421.253.354.722.354 1.219v51.142c0 .488.092.963-.323 1.198l-44.133 25.576c-.378.227-.87.227-1.285 0l-11.317-6.749c-.341-.198-.752-.269-1.08-.086-3.145 1.783-3.729 2.02-6.679 3.043-.727.253-1.799.692.408 1.929l14.798 8.754c1.416.82 3.027 1.246 4.647 1.246 1.642 0 3.249-.426 4.666-1.246l43.976-25.582c2.871-1.672 4.322-4.764 4.322-8.083v-51.142c-.001-3.319-1.452-6.414-4.323-8.073zM77.727 81.445c-11.727 0-14.309-3.235-15.17-9.066-.102-.628-.634-1.379-1.274-1.379h-5.73c-.709 0-1.28.86-1.28 1.566 0 7.466 4.06 16.512 23.454 16.512 14.038 0 22.088-5.455 22.088-15.109 0-9.572-6.467-12.084-20.082-13.886-13.762-1.819-15.16-2.738-15.16-5.962 0-2.658 1.184-6.203 11.374-6.203 9.104 0 12.46 1.954 13.841 8.091.119.577.646.991 1.241.991h5.754c.354 0 .691-.143.939-.396.241-.272.367-.613.336-.979-.893-10.569-7.913-15.494-22.112-15.494-12.632 0-20.166 5.334-20.166 14.275 0 9.698 7.497 12.378 19.622 13.577 14.505 1.422 15.633 3.542 15.633 6.395 0 4.956-3.978 7.067-13.308 7.067z"
                  class="color83cd29 svgShape"></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #0e8d03; --glow-color: #0e8d03"
              data-tooltip="Node JS"
            >
              <p class="stack__name"></p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 128 128"
                id="mongodb"
              >
                <path
                  fill="#439934"
                  fill-rule="evenodd"
                  d="M88.038 42.812c1.605 4.643 2.761 9.383 3.141 14.296.472 6.095.256 12.147-1.029 18.142-.035.165-.109.32-.164.48-.403.001-.814-.049-1.208.012-3.329.523-6.655 1.065-9.981 1.604-3.438.557-6.881 1.092-10.313 1.687-1.216.21-2.721-.041-3.212 1.641-.014.046-.154.054-.235.08l.166-10.051c-.057-8.084-.113-16.168-.169-24.252l1.602-.275c2.62-.429 5.24-.864 7.862-1.281 3.129-.497 6.261-.98 9.392-1.465 1.381-.215 2.764-.412 4.148-.618z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#45A538"
                  fill-rule="evenodd"
                  d="M61.729 110.054c-1.69-1.453-3.439-2.842-5.059-4.37-8.717-8.222-15.093-17.899-18.233-29.566-.865-3.211-1.442-6.474-1.627-9.792-.13-2.322-.318-4.665-.154-6.975.437-6.144 1.325-12.229 3.127-18.147l.099-.138c.175.233.427.439.516.702 1.759 5.18 3.505 10.364 5.242 15.551 5.458 16.3 10.909 32.604 16.376 48.9.107.318.384.579.583.866l-.87 2.969z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#46A037"
                  fill-rule="evenodd"
                  d="M88.038 42.812c-1.384.206-2.768.403-4.149.616-3.131.485-6.263.968-9.392 1.465-2.622.417-5.242.852-7.862 1.281l-1.602.275-.012-1.045c-.053-.859-.144-1.717-.154-2.576-.069-5.478-.112-10.956-.18-16.434-.042-3.429-.105-6.857-.175-10.285-.043-2.13-.089-4.261-.185-6.388-.052-1.143-.236-2.28-.311-3.423-.042-.657.016-1.319.029-1.979.817 1.583 1.616 3.178 2.456 4.749 1.327 2.484 3.441 4.314 5.344 6.311 7.523 7.892 12.864 17.068 16.193 27.433z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#409433"
                  fill-rule="evenodd"
                  d="M65.036 80.753c.081-.026.222-.034.235-.08.491-1.682 1.996-1.431 3.212-1.641 3.432-.594 6.875-1.13 10.313-1.687 3.326-.539 6.652-1.081 9.981-1.604.394-.062.805-.011 1.208-.012-.622 2.22-1.112 4.488-1.901 6.647-.896 2.449-1.98 4.839-3.131 7.182-1.72 3.503-3.863 6.77-6.353 9.763-1.919 2.308-4.058 4.441-6.202 6.548-1.185 1.165-2.582 2.114-3.882 3.161l-.337-.23-1.214-1.038-1.256-2.753c-.865-3.223-1.319-6.504-1.394-9.838l.023-.561.171-2.426c.057-.828.133-1.655.168-2.485.129-2.982.241-5.964.359-8.946z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#4FAA41"
                  fill-rule="evenodd"
                  d="M65.036 80.753c-.118 2.982-.23 5.964-.357 8.947-.035.83-.111 1.657-.168 2.485l-.765.289c-1.699-5.002-3.399-9.951-5.062-14.913-2.75-8.209-5.467-16.431-8.213-24.642-2.217-6.628-4.452-13.249-6.7-19.867-.105-.31-.407-.552-.617-.826l4.896-9.002c.168.292.39.565.496.879 2.265 6.703 4.526 13.407 6.768 20.118 2.916 8.73 5.814 17.467 8.728 26.198.116.349.308.671.491 1.062l.67-.78c-.056 3.351-.112 6.701-.167 10.052z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#4AA73C"
                  fill-rule="evenodd"
                  d="M43.155 32.227c.21.274.511.516.617.826 2.248 6.618 4.483 13.239 6.7 19.867 2.746 8.211 5.463 16.433 8.213 24.642 1.662 4.961 3.362 9.911 5.062 14.913l.765-.289-.171 2.426-.155.559c-.266 2.656-.49 5.318-.814 7.968-.163 1.328-.509 2.632-.772 3.947-.198-.287-.476-.548-.583-.866-5.467-16.297-10.918-32.6-16.376-48.9-1.737-5.187-3.483-10.371-5.242-15.551-.089-.263-.34-.469-.516-.702 1.09-2.947 2.181-5.894 3.272-8.84z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#57AE47"
                  fill-rule="evenodd"
                  d="M65.202 70.702l-.67.78c-.183-.391-.375-.714-.491-1.062-2.913-8.731-5.812-17.468-8.728-26.198-2.242-6.711-4.503-13.415-6.768-20.118-.105-.314-.327-.588-.496-.879l6.055-7.965c.191.255.463.482.562.769 1.681 4.921 3.347 9.848 5.003 14.778 1.547 4.604 3.071 9.215 4.636 13.813.105.308.47.526.714.786l.012 1.045c.058 8.082.115 16.167.171 24.251z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#60B24F"
                  fill-rule="evenodd"
                  d="M65.021 45.404c-.244-.26-.609-.478-.714-.786-1.565-4.598-3.089-9.209-4.636-13.813-1.656-4.93-3.322-9.856-5.003-14.778-.099-.287-.371-.514-.562-.769 1.969-1.928 3.877-3.925 5.925-5.764 1.821-1.634 3.285-3.386 3.352-5.968.003-.107.059-.214.145-.514l.519 1.306c-.013.661-.072 1.322-.029 1.979.075 1.143.259 2.28.311 3.423.096 2.127.142 4.258.185 6.388.069 3.428.132 6.856.175 10.285.067 5.478.111 10.956.18 16.434.008.861.098 1.718.152 2.577z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#A9AA88"
                  fill-rule="evenodd"
                  d="M62.598 107.085c.263-1.315.609-2.62.772-3.947.325-2.649.548-5.312.814-7.968l.066-.01.066.011c.075 3.334.529 6.615 1.394 9.838-.176.232-.425.439-.518.701-.727 2.05-1.412 4.116-2.143 6.166-.1.28-.378.498-.574.744l-.747-2.566.87-2.969z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#B6B598"
                  fill-rule="evenodd"
                  d="M62.476 112.621c.196-.246.475-.464.574-.744.731-2.05 1.417-4.115 2.143-6.166.093-.262.341-.469.518-.701l1.255 2.754c-.248.352-.59.669-.728 1.061l-2.404 7.059c-.099.283-.437.483-.663.722l-.695-3.985z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#C2C1A7"
                  fill-rule="evenodd"
                  d="M63.171 116.605c.227-.238.564-.439.663-.722l2.404-7.059c.137-.391.48-.709.728-1.061l1.215 1.037c-.587.58-.913 1.25-.717 2.097l-.369 1.208c-.168.207-.411.387-.494.624-.839 2.403-1.64 4.819-2.485 7.222-.107.305-.404.544-.614.812-.109-1.387-.22-2.771-.331-4.158z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#CECDB7"
                  fill-rule="evenodd"
                  d="M63.503 120.763c.209-.269.506-.508.614-.812.845-2.402 1.646-4.818 2.485-7.222.083-.236.325-.417.494-.624l-.509 5.545c-.136.157-.333.294-.398.477-.575 1.614-1.117 3.24-1.694 4.854-.119.333-.347.627-.525.938-.158-.207-.441-.407-.454-.623-.051-.841-.016-1.688-.013-2.533z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#DBDAC7"
                  fill-rule="evenodd"
                  d="M63.969 123.919c.178-.312.406-.606.525-.938.578-1.613 1.119-3.239 1.694-4.854.065-.183.263-.319.398-.477l.012 3.64-1.218 3.124-1.411-.495z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#EBE9DC"
                  fill-rule="evenodd"
                  d="M65.38 124.415l1.218-3.124.251 3.696-1.469-.572z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#CECDB7"
                  fill-rule="evenodd"
                  d="M67.464 110.898c-.196-.847.129-1.518.717-2.097l.337.23-1.054 1.867z"
                  clip-rule="evenodd"></path>
                <path
                  fill="#4FAA41"
                  fill-rule="evenodd"
                  d="M64.316 95.172l-.066-.011-.066.01.155-.559-.023.56z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <!-- Columna 2: DevOps y Design -->
      <div class="md:w-1/2 max-w-xl ml-auto">
        <!-- Secci贸n DevOps -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Aprendiendo</h3>
          <div class="flex flex-wrap gap-5">
            <!-- Ejemplo: Docker -->
            <div
              class="stack"
              style="--bg-color: #2496ED; --glow-color: #2496ED"
              data-tooltip="Docker"
            >
              <p class="stack__name">Docker</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 256"
              >
                <!-- Ejemplo de SVG para Docker -->
                <path
                  fill="#2496ED"
                  d="M128 0C57.31 0 0 57.31 0 128s57.31 128 128 128 128-57.31 128-128S198.69 0 128 0z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #830bb3; --glow-color: #830bb3"
              data-tooltip="Astro"
            >
              <p class="stack__name">Astro</p>
              <svg
                class="stack__icon"
                viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                  ><title>file_type_astro</title><path
                    d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z"
                    style="fill:#000000;fill-rule:evenodd"></path></g
                ></svg
              >
            </div>
          </div>
        </div>

        <!-- Secci贸n Design -->
        <div class="mb-12">
          <h3 class="text-2xl font-semibold mb-6">Herramientas</h3>
          <div class="flex flex-wrap gap-5">
            <div
              class="stack"
              style="--bg-color: #EF652A; --glow-color: rgba(242, 78, 30, 0.5)"
              data-tooltip="Git"
            >
              <p class="stack__name">Git</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 128 128"
                id="git"
              >
                <path
                  fill="#F34F29"
                  d="M124.737 58.378l-55.116-55.114c-3.172-3.174-8.32-3.174-11.497 0l-11.444 11.446 14.518 14.518c3.375-1.139 7.243-.375 9.932 2.314 2.703 2.706 3.461 6.607 2.294 9.993l13.992 13.993c3.385-1.167 7.292-.413 9.994 2.295 3.78 3.777 3.78 9.9 0 13.679-3.78 3.78-9.901 3.78-13.683 0-2.842-2.844-3.545-7.019-2.105-10.521l-13.048-13.048-.002 34.341c.922.455 1.791 1.063 2.559 1.828 3.778 3.777 3.778 9.898 0 13.683-3.779 3.777-9.904 3.777-13.679 0-3.778-3.784-3.778-9.905 0-13.683.934-.933 2.014-1.638 3.167-2.11v-34.659c-1.153-.472-2.231-1.172-3.167-2.111-2.862-2.86-3.551-7.06-2.083-10.576l-14.313-14.313-37.792 37.79c-3.175 3.177-3.175 8.325 0 11.5l55.117 55.114c3.174 3.174 8.32 3.174 11.499 0l54.858-54.858c3.174-3.176 3.174-8.327-.001-11.501z"
                ></path>
              </svg>
            </div>

            <div
              class="stack"
              style="--bg-color: #2496ED; --glow-color: #2496ED"
              data-tooltip="Visual studio code"
            >
              <p class="stack__name"></p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                id="visualstudio"
              >
                <path
                  d="M16.85,2,9.09,9.77,4.19,5.91,2.05,7V17L4.2,18.09l4.93-3.85L16.87,22,22,19.93V4ZM4.37,14.3V9.65l2.44,2.43ZM16.7,15.59,12.05,12,16.7,8.41Z"
                  fill="#069fd5"
                  class="color000000 svgShape"></path>
              </svg>
            </div>

            <!-- Ejemplo: Notion -->
            <div
              class="stack"
              style="--bg-color: #6e6e6e; --glow-color: #6e6e6e"
              data-tooltip="Notion"
            >
              <p class="stack__name">Notion</p>
              <svg
                class="stack__icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 64 64"
                id="notion"
              >
                <path
                  fill="#070707"
                  fill-rule="evenodd"
                  d="m5.2,47.56s8,10.37,8.48,10.83c1.16,1.11,2.73,1.69,4.33,1.6,8.37-.42,27.54-1.38,35.57-1.78,3.11-.16,5.55-2.72,5.56-5.83l.1-35.5c0-1.99-1.03-3.83-2.72-4.87t0,0c-2.99-1.84-8.91-5.49-10.7-6.68-1.46-.97-3.2-1.43-4.96-1.32-5.96.38-23.45,1.51-30.85,1.98-2.96.19-5.24,2.62-5.24,5.54v34.78c0,.45.15.89.43,1.24h0Zm50.01-28.91v.02l-.1,33.7c0,.97-.77,1.77-1.74,1.82l-35.57,1.78c-.5.03-.99-.16-1.35-.5-.36-.34-.57-.82-.57-1.32V20.71c0-.97.75-1.77,1.72-1.82l35.67-2.06c.5-.03.99.15,1.36.5.36.34.57.82.57,1.32h0Zm-11.98,21.42v-13.72c-.63-.72-1.63-.67-3.07-1.11-.1-.03-.19-.11-.23-.21-.04-.1-.03-.22.03-.31,1.72-2.53,6.63-.95,9.83-1.96.09-.03.2-.02.28.05.08.07.11.17.09.27-.31,1.39-1.4,2.1-2.95,2.4v22.57c0,.75-.45,1.44-1.15,1.72-.64.26-1.31.54-1.31.54-1.54.8-3.43.29-4.37-1.17l-11.46-17.87v16.27c.62.72,1.63.67,3.07,1.11.1.03.19.11.23.21.04.1.03.22-.03.31-1.73,2.53-6.63.95-9.83,1.96-.09.04-.2.02-.28-.05-.08-.06-.11-.17-.09-.27.31-1.39,1.4-2.1,2.95-2.4v-21.31l-3.02-.29s.21-2.45,3.09-2.73c1.42-.14,5.13-.3,6.47-.36.3-.01.59.13.77.38l10.99,15.95h0ZM15.03,14.28c.55.42,1.24.63,1.93.59,5.09-.29,26.82-1.53,32.21-1.84.17-.01.31-.13.35-.29.04-.16-.03-.33-.17-.42-2.39-1.49-4.74-2.95-5.76-3.63-.73-.48-1.6-.71-2.48-.66,0,0-24.7,1.36-29.78,1.91-.64.07-.78.3-.8.39-.09.31.02.54.27.74,1.02.78,3.07,2.33,4.23,3.21h0Z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style is:global>
    @keyframes neonFlicker {
      0%,
      100% {
        box-shadow:
          0 0 35px 5px var(--glow-color),
          inset 0 0 25px 3px var(--glow-color);
      }
      20% {
        box-shadow:
          0 0 5px 0px var(--glow-color),
          inset 0 0 5px 0px var(--glow-color);
      }
      40% {
        box-shadow:
          0 0 20px 2px var(--glow-color),
          inset 0 0 15px 2px var(--glow-color);
      }
      60% {
        box-shadow:
          0 0 10px 1px var(--glow-color),
          inset 0 0 10px 1px var(--glow-color);
      }
      80% {
        box-shadow:
          0 0 30px 4px var(--glow-color),
          inset 0 0 20px 4px var(--glow-color);
      }
    }

    .stack {
      position: relative;
      width: 4.5em;
      height: 4.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6em;
      background: color-mix(in srgb, var(--bg-color) 8%, transparent);
      cursor: pointer;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;
      z-index: 1;
      border: 1px solid transparent;
    }

    .stack::before {
      content: "";
      position: absolute;
      inset: -2px;
      background: radial-gradient(
          120% 120% at 50% 20%,
          color-mix(in srgb, var(--bg-color) 30%, transparent) 200%
        ),
        linear-gradient(
          to bottom right,
          transparent 30%,
          color-mix(in srgb, var(--bg-color) 10%, transparent) 70%
        );
      filter: blur(8px);
      opacity: 0;
      transition: all 0.5s ease;
      z-index: -1;
    }

    .stack::after {
      content: "";
      position: absolute;
      inset: -1px;
      border-radius: inherit;
      box-shadow:
        0 0 20px -5px var(--glow-color),
        inset 0 0 15px color-mix(in srgb, var(--bg-color) 10%, transparent);
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    .stack:hover {
      border: 1px solid color-mix(in srgb, var(--bg-color) 50%, transparent);
      transform: none;
    }

    .stack:hover::before {
      opacity: 0.6;
      filter: blur(12px);
    }

    .stack:hover::after {
      opacity: 1;
      animation: neonFlicker 2s infinite;
    }

    .stack__icon {
      width: 55%;
      height: 55%;
      filter: brightness(1);
      transition: all 0.4s ease;
    }

    .stack:hover .stack__icon {
      filter: drop-shadow(
          0 0 8px color-mix(in srgb, var(--bg-color) 40%, transparent)
        )
        brightness(1.15);
      transform: none;
    }

    .stack__name {
      position: absolute;
      bottom: -1.8em;
      width: 100%;
      text-align: center;
      font-size: 0.85em;
      font-weight: 700;
      color: var(--bg-color);
      text-shadow: 0 0 8px var(--glow-color);
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }

    .stack:hover .stack__name {
      opacity: 1;
    }
  </style>
</Layout>
