---
import myPhoto from '../assets/MyPhoto.png'; // Reemplaza con la ruta a tu foto
---

<section class="w-full h-screen flex flex-col items-center justify-center bg-gray-50">
  <div class="text-center p-4">
    <!-- Fotografía Personal -->
    <img
	src={myPhoto.src}
	alt="Mi Foto"
	class="w-32 h-32 md:w-40 md:h-40 rounded-full mx-auto shadow-lg mb-6 transition-transform duration-300 hover:scale-120"
	/>


    <!-- Mensaje de Bienvenida -->
    <h1 class="text-3xl md:text-5xl font-extrabold mb-4 text-gray-800">
      Hola, soy Alejandro Gemes
    </h1>
    <p class="text-xl md:text-2xl text-gray-600 mb-8">
      Fullstack Developer | 2 años de experiencia
    </p>

    <!-- Llamado a la Acción -->
    <a href="#proyectos" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded transition-colors duration-300">
      Ver Proyectos
    </a>
  </div>
</section>
